*{
    margin: 0;
    padding: 0; 
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    min-width: 20%;
    max-width: 100%;
}

.header{
     background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(image/bgimage.png);
     background-size: cover;
     background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 60px;
}

.nav-link li{
    list-style: none;
    display: inline-block;
    margin: 1em;
}

.nav-link li a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.email-logo img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 60px;
}

main {
    background-color: antiquewhite;
    font-size: 25px;
}

.welcome1 img {
    float: right;
    width: 50%;
}
.welcome1 p {
    float: left;
    width: 40%;
    padding: 2em;
}

.welcome2 img {
    float: left;
    width: 50%;
}
.welcome2 p {
    float: right;
    width: 40%;
    padding: 2em;
}

.welcome3 img {
    float: right;
    width: 50%;
}
.welcome3 p {
    float: left;
    width: 40%;
    padding: 2em;
}

.welcome1, .welcome2, .welcome3, .clear {
    clear: both;
}

footer {
    background-color: #fff;
    display: flex;
    margin: 0 10%;
}

footer figure {
    margin: 1.5em 2em 1.5em 0;
}
footer figure img {
   width: 250px;
   height: 250px;
}
footer figure figcaption {
    text-align: center;
}

footer .link {
    padding: 2em 3em;
    font-size: 1.3em;
    font-weight: 600;
}

footer .link li {
    list-style: none;
    text-align: center;
}

footer .link li a {
    text-decoration: none;
    color: black;
}

footer .contact, .social {
    padding: 2em 3em;
}

footer .contact p {
    text-align: center;
}

footer .contact h2, .social h2 {
    text-align: center;
    padding: 10px;
}

footer .social img {
    width: 50px;
    height: 50px;
    padding: 5px 5px;
}

footer .schedules h2{
    padding:1em 0 0 1em;
    font-size: 2em;
}
footer .schedules p {
    padding-top: 1em;
    text-align: center;
    font-size: 1.2em;
}

span {font-weight: 600;}

/* menu.html */

.drinks img {
    float: right;
    width: 50%;
}

.food img {
    float: left;
    width: 50%;
}

.coffee img {
    float: right;
    width: 50%;
}

.drinks, .food, .coffee {
    clear: both;
}

caption{
    font-size: 1.5em;
    font-weight: 900;
}
th{
    text-align: center;
}
td{
    width: 100%;
    padding: .2em 1.8em;
}

.coffeecontain h2{
    text-align: center;
    padding: .5em 0;
}

.coffeecontain{
    padding: .5em 2em;
}

.shop{
    background-color: #333;
    color: #fff;
}

.shop h2{
    padding: 50px 0;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
}

.product img{
    width: 200px;
    height: 200px;
}
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    text-align: center;
}

/* contact.html */

.contact h1, .contact p{
    text-align: center;
    padding-top: 1em;
}
form {
    padding: 0 20%;
}

.contact select, input{
    margin: 15px 0 30px 0;
    width: 100%;
    height: 4em;
    border-radius: 5px;
}

.contact .feedback {
    height: 8em;
}

.contact .name, .tel, .town, .state{
    float: left;
    width: 50%;
}

.contact .name input, .tel input, .town input, .state input{
    width: 95%;
}

.contact .age, .email, .postcode{
    float: right;
    width: 50%;
}

.policy input{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.contact .policy{
    font-size: .8em;
}

.contact button{
    width: 100px;
    height: 40px;
    align-items: end;
}

/* story.html */

.map{
    width: 100%;
    text-align:center ;
    padding: 10px;
}

