*{
    margin: 0;
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    max-width: auto;
}

.header{
     background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url(image/bgimage.png);
     background-size: cover;
     background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 60px;
}

.nav-link li{
    list-style: none;
    display: inline-block;
    padding: 1em;
}

.nav-link li a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.email-logo img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 60px;
}

main {
    font-family: montserrat,Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    font-size: 25px;
}

h1, h2 ,h3,h4, caption{
    font-family: comfortaa,Arial, Helvetica, sans-serif;
}

.container p, h3{
    text-align: center;
    padding: 1em 0 0 0;
}

.welcome1 img {
    float: right;
    width: 50%;
}
.welcome1 p {
    float: left;
    width: 40%;
    padding: 1em 2em;
}
.welcome1 span, .welcome2 span, .welcome3 span {
    font-weight: 600;
}

.welcome2 img {
    float: left;
    width: 50%;
}
.welcome2 p {
    float: right;
    width: 40%;
    padding: 1em 2em;
}

.welcome3 img {
    float: right;
    width: 50%;
}
.welcome3 p {
    float: left;
    width: 40%;
    padding: 1em 2em;
}

.welcome1, .welcome2, .welcome3, .clear {
    clear: both;
}

footer {
    width: 90%;
    background-color: #fff;
    display: flex;
    margin: 0 5%;
    justify-content: center;
}

footer figure {
    padding: 1.5em 0 1.5em 0;
}
footer figure img {
   width: 200px;
   height: 200px;
}
footer figure figcaption {
    text-align: center;
}

footer .link {
    padding: 2em;
    font-size: 1.3em;
    font-weight: 600;
}

footer .link li {
    list-style: none;
    text-align: center;
}

footer .link li a {
    text-decoration: none;
    color: black;
}

footer .contact, .social {
    padding: 2em 2em;
}

footer .contact p {
    text-align: center;
}

footer .contact h2, .social h2 {
    text-align: center;
    padding: 10px;
}

footer .social img {
    width: 50px;
    height: 50px;
    padding: 5px 10px;
}

footer .schedules h2{
    padding:1em 0 0 1em;
    font-size: 2em;
}
footer .schedules p{
    padding-top: 1em;
    text-align: center;
    font-size: 1.2em;
}

span {font-weight: 700;}

/* menu.html */

.drinks img {
    float: right;
    width: 50%;
}

.food img {
    float: left;
    width: 50%;
}

.coffee img {
    float: right;
    width: 50%;
}

.drinks, .food, .coffee {
    clear: both;
}

caption{
    padding: .5em 0;
    font-size: 1.5em;
    font-weight: 900;
}
th{
    text-align: center;
}
td{
    width: 100%;
    padding: .2em 1.8em;
}

.coffeecontain h2{
    text-align: center;
    padding: .5em 0;
}

.coffeecontain{
    padding: .5em 2em;
}

.shop{
    background-color: #333;
    color: #fff;
}

.shop h2{
    padding: 50px 0;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
}

.product img{
    width: 200px;
    height: 200px;
}
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
    text-align: center;
}

/* contact.html */

h1, .contact p{
    text-align: center;
    padding-top: 20px;
}
form {
    padding: 0 20%;
}

.contact select, input{
    margin: 15px 0 30px 0;
    width: 100%;
    height: 4em;
    border-radius: 5px;
}

.contact .feedback {
    height: 8em;
}

.contact .name, .tel, .town, .state{
    float: left;
    width: 50%;
}

.contact .name input, .tel input, .town input, .state input{
    width: 95%;
}

.contact .age, .email, .postcode{
    float: right;
    width: 50%;
}

.policy input{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.contact .policy{
    font-size: .6em;
}

.contact button{
    width: 100px;
    height: 40px;
    margin: 5px 0;
}


/* about us */

.map{
    text-align:center ;
    padding: 10px;
}

.aboutus {
    text-align: center;
}

.phone, .direction, .schedules2 {
    float: left;
    border: 1pt solid black;
    width: 31%;
    height: 400px;
    margin: 1%;
}

.callbtn, .mapbtn{
    color: #fff;
    text-decoration: none;
    background: #fc7b03;
    padding: 15px 60px;
    border-radius: 5px;
}

.aboutus h4,.phone p, .direction p {
    margin: 30px 0;
}

/* rules.html */
.rules p {
    padding: 20px;
}
.rules li {
    padding: 5px;
    margin: 0 40px;
    font-weight: 600;
}

.agreement {
    padding: 0 2em;
    font-size: small;
}

/* story.html */
.story {
    width: 90%;
    text-align: center;
    padding: 0 5%;
}

.storybgc {
    width: 100%;
    max-height: 800px;
}

.row {
    margin: 0 15%;
}
.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9 {
    float: left;
    width: 33%;
    text-align: center;
    padding:0 2px;
    font-weight: 600;
}

.column1 {color: #fc7b03;}
.column2 {color: purple;}
.column3 {color: blue;}
.column4 {color: yellowgreen;}
.column5 {color: #E5C834;}
.column6 {color: black;}
.column7 {color: #189E94;}
.column8 {color: darkkhaki;}
.column9 {color: #59BE00;}


.row img {
    width: 100%;
    height: auto;
}

.sub {
    font-size: .7em;
    font-weight: 300;
}

.newcat {
    float: left;
    width: 35%;
    height: 35%;
    margin: 0 10px 0 0;
}

.row h2 { text-align: left;}

.row span {
    font-weight: 500;
    text-align: center;
}

.row p {
    padding: .5em 0;
    font-weight: 400;
}

